*.cache
*.editorconfig
*.gif
*.html
*.jpg
*.log
*.md
*.mdx
*.png
*.props
*.ps1
*.ruleset
*.snk
*.tm7
*.txt
*.zip
.gitignore
.gitattributes
.npmrc
.prettierignore
dist/
generated/
lib/
node_modules/
out/